

/* Header Design */

.header {
    padding-top: 20vh;
}
.header,h1 {
    text-align: center;
    font-size: 4vh;
}

/*Body Design */

body {
    background-color: rgb(39, 48, 61);
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
    color: aliceblue;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

#task .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(13, 16, 20);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#task .task .content {
    color: lightgoldenrodyellow;
}

#task .task .action {
    display: flex;
    margin: 0 -0.5rem;
    
}

.task .action button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

/* Footer Design */

.footer {
    
    text-align: center;
    padding: 20px;
    background-color: rgb(30, 40, 48);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer input {
    width: 30%;
    padding: 16px 20px;
    margin: 8px 0;
    background-color: rgb(40, 50, 66);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}

button:hover{
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}
