

/* Header Design */

.header {
    padding-top: 20vh;
}
.header,h1 {
    text-align: center;
    font-size: 4vh;
}

/*Body Design */

body {
    background-color: rgb(39, 48, 61);
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
    color: aliceblue;
}

.completed {
    text-decoration: line-through;
    color: white;
    text-align: center;
}

ul {
    text-align: center;
}

/* Footer Design */

.footer {
    
    text-align: center;
    padding: 20px;
    background-color: rgb(30, 40, 48);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

input {
    width: 30%;
    padding: 16px 20px;
    margin: 8px 0;
    background-color: rgb(40, 50, 66);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

